:root {
  --black-two: #121212;
  --azure: #0290ff;
  --cool-blue: #4386bf;
  --white: #e8e8e8;
  --white-two: #fff;
  --very-light-pink: #c4c4c4;
  --pale-grey: #f5f6fa;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

#root {
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
  background-color: var(--pale-grey);
}

.wrapSection,
.form {
  height: auto;
  background-color: #fafafa;
}

nav {
  height: 5.938vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 6rem;
  margin: 5px 0;
  margin-bottom: 2rem;
  gap: 5rem;
  box-shadow: -1px 2px 0 -1px #e8e8e8;
  background-color: var(--white-two);
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

ul a {
  text-decoration: none;
}

nav li:hover {
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
}

.formStile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: var(--very-light-pink);
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: var(--white-two);
  row-gap: 20px;
}

.formStile input {
  border: 1px solid #bbb;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 30%;
  margin: 2rem 1rem;
}

.bookInfo {
  margin: 0;
  padding: 0;
}

.title {
  height: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.btn,
.submit {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  background-color: var(--azure);
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-two);
  border-radius: 3px;
  border: none;
}

.submit {
  font-weight: bold;
  color: var(--white-two);
}

.text-2 {
  color: rgb(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

.text-4 {
  margin: 0 0 0 2.125rem;
  opacity: 0.5;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.text-5 {
  width: 7rem;
  height: 1.125rem;
  margin: 0 4rem 0 0;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888;
}

.text-6 {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.text-7 {
  margin: 1.188rem 0 0 2.125rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.text-8 {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--cool-blue);
  border: none;
  background-color: white;
}

.text-9 {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.author {
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--cool-blue);
  margin-top: 0.5rem;
}

.line2 {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border-right: solid 1px #e8e8e8;
}

.rowBtn {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.percent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.percentage {
  color: black;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  align-content: center;
}

.complete {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 10px;
}

.oval {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #379cf6;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.line3 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border-right: solid 1px #e8e8e8;
}
