* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 6rem;
  margin: 5px 0;
  margin-bottom: 2rem;
  gap: 5rem;
  box-shadow: -1px 2px 0 -1px #e8e8e8;
}

nav h1 {
  color: #0290ff;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

ul a {
  text-decoration: none;
}

nav li:hover {
  font-size: large;
}
